{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style_su.css'%}">
</head>

<body>
    <nav class="navbar">
        <div class="nav-links">
        </div>
        <div class="nav-buttons">
            <a href="{% url 'logout' %}" class="button">退出登录</a>
        </div>
    </nav>
    <div class=main>
        <div class="sidebar">
            <a href="{% url 'dashboard' %}" class="button">主页</a>
            <a href="{% url 'dormmanager' %}" class="button">宿管管理</a>
            <a href="{% url 'dormbuilding' %}" class="button">楼宇管理</a>
            <a href="{% url 'student' %}" class="button">学生管理</a>
        </div>
        <div class="content">
            <div class="title">
                更新宿管信息
            </div>
            <form method="post" action="{% url 'edit_dormmanager' dm.dormmanager_id%}">
                {% csrf_token %}
                <div class="form-section">
                    <div class="form-column">
                        <p>当前宿管ID为{{ dm.dormmanager_id }}</p>
                        <label for="name">宿管姓名：</label>
                        <input type="text" id="name" name="name" required><br>
                        <label for="phone">宿管电话：</label>
                        <input type="text" id="phone" name="phone" required><br>
                        <label for="age">宿管年龄：</label>
                        <input type="number" id="age" name="age" required><br>



                    </div>
                    <div class="form-column">
                        <label for="gender">性别:</label>
                        <select id="gender" name="gender" required>
                            <option value="">请选择性别</option>
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select><br>
                        <label for="building">管理楼宇：</label>
                        <select id="building" name="building">
                            {% for build in building %}
                            <option value="{{ build.id }}">{{ build.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-column">
                        <button type="submit">提交</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    {% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            {% for message in messages %}
            alert('{{ message }}');
            {% endfor %}
        });
    </script>
    {% endif %}
</body>

</html>